<%- include("parshalls/header"); -%>
    <h1><%=title%></h1>
    <p>
        <%=content%>
    </p>



    <a href="/">
        <button class="btn-read">Back</button>
    </a>

    <%- include("parshalls/footer"); -%>
